<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://code.ionicframework.com/nightly/css/ionic.min.css">
    <link id="ionic-css" rel="stylesheet" href="/">

    <script src="http://code.ionicframework.com/nightly/js/ionic.bundle.min.js"></script>
</head>
<body ng-app="starter">

<ion-pane>
    <ion-header-bar class="bar-brand">
        <h1 class="title">BUTTONS</h1>
    </ion-header-bar>
    <ion-content class="has-header padding-horizontal" >

        <button class="button  button-light button-block">Light</button>
        <button class="button  button-stable button-block">Stable</button>
        <button class="button  button-positive button-block">Positive</button>
        <button class="button  button-calm button-block">Calm</button>
        <button class="button  button-balanced button-block">Balanced</button>
        <button class="button  button-energized button-block">Energized</button>
        <button class="button  button-assertive button-block">Assertive</button>
        <button class="button  button-royal button-block">Royal</button>
        <button class="button  button-dark button-block">Dark</button>

    </ion-content>
</ion-pane>
<script>
    angular.module('starter', ['ionic']);

    var css = document.getElementById('ionic-css');
    window.IonicThemer = {
        update: function (colors) {
            var args = [];
            for (var i = 0; i < colors.length; i++) {
                args.push(encodeURIComponent(colors[i].variable) + "=" + encodeURIComponent(colors[i].value));
            }
            var path = args.join('&');
            var newUrl = '/api/compile/live/ionic.css?' + path;
            css.setAttribute('href', newUrl);
        }
    }
</script>
</body>
</html>
