<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://code.ionicframework.com/nightly/css/ionic.min.css">
    <link id="ionic-css" rel="stylesheet" href="/">

    <script src="http://code.ionicframework.com/nightly/js/ionic.bundle.min.js"></script>
</head>
<body ng-app="starter">

<ion-pane>
    <ion-header-bar class="bar-brand">
        <h1 class="title">Title</h1>
    </ion-header-bar>
    <ion-content class="has-header">

        <div class="list">
            <div class="item item-divider">
                Inline
            </div>
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password">
            </label>
        </div>

        <div class="list">
            <div class="item item-divider">
                Placeholder labels
            </div>
            <label class="item item-input">
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name">
            </label>
        </div>


        <div class="list">
            <div class="item item-divider">
                Stacked Labels
            </div>
            <label class="item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="John">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="john@suhr.com">
            </label>
        </div>


        <div class="list">
            <div class="item item-divider">
                Floating Labels
            </div>
            <label class="item item-input item-floating-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email">
            </label>
        </div>
    </ion-content>
</ion-pane>
<script>
    angular.module('starter', ['ionic']);

    var css = document.getElementById('ionic-css');
    window.IonicThemer = {
        update: function (colors) {
            var args = [];
            for (var i = 0; i < colors.length; i++) {
                args.push(encodeURIComponent(colors[i].variable) + "=" + encodeURIComponent(colors[i].value));
            }
            var path = args.join('&');
            var newUrl = '/api/compile/live/ionic.css?' + path;
            css.setAttribute('href', newUrl);
        }
    }
</script>
</body>
</html>
