<div class="content">

    <div class="side-panel">
        <header>
            <img class="logo" src="../assets/images/tailor-icon-white.png">

            <div class="logo-title">Ionic Tailor</div>
        </header>

        <header class="sub-header" headroom>
            <div class="button-row">
                <a ng-click="setButtonBar(0)" ng-class="{'selected' : isButtonBar(0)}">Customize</a>
                <a ng-class="{'selected' : isButtonBar(1)}">Preset themes</a> <!--  ng-click="setButtonBar(1)" -->
            </div>
        </header>


        <section ng-if="isButtonBar(0)">
            <div class="side-section-download">
                <button class="btn btn-download" ng-click="prepDownload()">Download Theme</button>
            </div>
            <div class="side-section">
                <div class="side-section-header">
                    Globals
                    <button class="btn-revert" ng-click="revert('globals')">
                        <i class="icon icon-lg ion-ios7-refresh-empty"></i>
                    </button>
                </div>
                <ul>
                    <li ng-repeat="item in globals" ng-mouseover="show = true" ng-mouseleave="show = false">
                        {{item.name}}
                        <spectrum-colorpicker ng-if="item.type == 'color'"
                                              ng-model="item.value"
                                              options="{showInput: true, showAlpha: true, clickoutFiresChange: true, showInitial: true}"
                                              format="'hex'"
                                              ng-style="{'background-color': item.value };">
                        </spectrum-colorpicker>
                        <span ng-if="show == true && item.type == 'color'" class="section-color-preview" ng-bind="item.value"></span>
                    </li>
                </ul>
            </div>

            <div class="side-section">
                <div class="side-section-header">
                    Colors
                    <button class="btn-revert" ng-click="revert('colors')">
                        <i class="icon icon-lg ion-ios7-refresh-empty"></i>
                    </button>
                </div>
                <ul>
                    <li ng-repeat="item in colors" ng-mouseover="show = true" ng-mouseleave="show = false">
                        {{item.name}}
                        <spectrum-colorpicker ng-model="item.value"
                                              options="{showInput: true, showAlpha: true, clickoutFiresChange: true, showInitial: true}"
                                              format="'hex'"
                                              ng-style="{'background-color': item.value };">
                        </spectrum-colorpicker>
                        <span ng-if="show == true" class="section-color-preview" ng-bind="item.value"></span>
                    </li>
                </ul>
            </div>

            <div class="side-section">
                <div class="side-section-header">
                    Fonts
                    <button class="btn-revert" ng-click="revert('fonts')">
                        <i class="icon icon-lg ion-ios7-refresh-empty"></i>
                    </button>
                </div>
                <ul>
                    <li ng-repeat="item in fonts">
                        {{item.name}}
                        <input type="text" class="side-section-input" ng-if="item.type == 'pixel'" ng-model="item.value">
                        <select class="side-section-select" ng-if="item.type == 'select'" ng-model="item.value">
                            <option value="$font-family-sans-serif" selected>Sans serif</option>
                            <option value="$font-family-light-sans-serif">light sans-serif</option>
                            <option value="$font-family-serif">serif</option>
                            <option value="$font-family-monospace">monospace</option>
                        </select>
                    </li>
                </ul>
            </div>

            <div class="side-section">
                <div class="side-section-header">
                    Padding
                    <button class="btn-revert" ng-click="revert('padding')">
                        <i class="icon icon-lg ion-ios7-refresh-empty"></i>
                    </button>
                </div>
                <ul>
                    <li ng-repeat="item in padding" ng-mouseover="show = true" ng-mouseleave="show = false">
                        {{item.name}}
                        <input type="text" class="side-section-input" ng-if="item.type == 'pixel'" ng-model="item.value">
                    </li>
                </ul>
            </div>

            <div class="side-section-footer">
                <h4>Made with <i class="icon ion-heart"></i> by <a href="https://github.com/pbernasconi/">Paolo Bernasconi</a></h4>
            </div>
        </section>


        <section ng-if="isButtonBar(1)">
            <div class="side-section-download">
                <button class="btn btn-download" ng-click="prepDownload()">Download Theme</button>
            </div>

            <div class="side-card" ng-repeat="">

            </div>

            <div class="side-section-footer">
                <h4>Made with <i class="icon ion-heart"></i> by <a href="https://github.com/pbernasconi/">Paolo Bernasconi</a></h4>
            </div>
        </section>

    </div>

    <div class="main-panel">
        <ul class="main-panel-tabs">
            <li ng-click="setActiveTab(1)" ng-class="{'active': activeTab == 1}">Phone View</li>
            <li ng-class="{'active': activeTab == 2}">Components</li>
            <li class="tabs-left">
                <a class="btn-login" ng-click="loginGithub()" href="https://github.com/pbernasconi/ionic-theme-editor">Github <i class="icon ion-social-github fa-lg"></i></a>
            </li>
        </ul>
        <div class="main-panel-view">
            <div ng-if="activeTab == 0">
                <ul>
                    <li class="preview-card">
                        <div class="card-header">Header</div>

                        <div class="card-content">
                            <div class="bar bar-header bar-positive">
                                <h1 class="title">bar-positive</h1>
                            </div>
                        </div>
                    </li>

                    <li class="preview-card">
                        <div class="card-header">Header</div>

                        <div class="card-content">
                            <div class="bar bar-header bar-positive">
                                <h1 class="title">bar-positive</h1>
                            </div>
                        </div>
                    </li>
                    <li class="preview-card">
                        <div class="card-header">Header</div>

                        <div class="card-content">
                            <div class="bar bar-header bar-positive">
                                <h1 class="title">bar-positive</h1>
                            </div>
                        </div>
                    </li>
                    <li class="preview-card">
                        <div class="card-header">Header</div>

                        <div class="card-content">
                            <div class="bar bar-header bar-positive">
                                <h1 class="title">bar-positive</h1>
                            </div>
                        </div>
                    </li>
                    <li class="preview-card">
                        <div class="card-header">Header</div>

                        <div class="card-content">
                            <div class="bar bar-header bar-positive">
                                <h1 class="title">bar-positive</h1>
                            </div>
                        </div>
                    </li>
                    <li class="preview-card">
                        <div class="card-header">Header</div>

                        <div class="card-content">
                            <div class="bar bar-header bar-positive">
                                <h1 class="title">bar-positive</h1>
                            </div>
                        </div>
                    </li>
                    <li class="preview-card">
                        <div class="card-header">Header</div>

                        <div class="card-content">
                            <div class="bar bar-header bar-positive">
                                <h1 class="title">bar-positive</h1>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div ng-if="activeTab == 1">
                <div ng-show="iframeLoaded == false" ng-cloak>
                    <div class="spinner-background">
                        <div class="spinner">
                            <div class="double-bounce1"></div>
                            <div class="double-bounce2"></div>
                        </div>
                    </div>
                </div>
                <div ng-show="iframeLoaded == true" ng-cloak style="padding: 40px;">
                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="device-header">Header Bar</h4>

                            <div class="device-bg">
                                <iframe class="device-screen ionic" on-load="iframeCallback()" theme="groupedVars" src="../components/preview/preview-header.html"></iframe>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4 class="device-header">Button</h4>

                            <div class="device-bg">
                                <iframe class="device-screen ionic" theme="groupedVars" src="../components/preview/preview-buttons.html"></iframe>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4 class="device-header">List</h4>

                            <div class="device-bg">
                                <iframe class="device-screen ionic" theme="groupedVars" src="../components/preview/preview-list.html"></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <h4 class="device-header">Form</h4>

                            <div class="device-bg">
                                <iframe class="device-screen ionic" theme="groupedVars" src="../components/preview/preview-form.html"></iframe>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="device-header">Tabs</h4>

                            <div class="device-bg">
                                <iframe class="device-screen ionic" theme="groupedVars" src="../components/preview/preview-tabs.html"></iframe>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="device-header">Card</h4>

                            <div class="device-bg">
                                <iframe class="device-screen ionic" theme="groupedVars" src="../components/preview/preview-card.html"></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <h4 class="device-header">Components</h4>

                            <div class="device-bg">
                                <iframe class="device-screen ionic" theme="groupedVars" src="../components/preview/preview-components.html"></iframe>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div ng-if="activeTab == 2">
                Examples tab
            </div>

        </div>
    </div>
</div>


<script type="text/ng-template" id="downloadModal">
    <div class="imodal">
        <h1 class="imodal-title">Download CSS File</h1>

        <div class="imodal-content">
            <div class="input-group">
                <label>File name</label>
                <input type="text" ng-model="filename" autoFocus>
            </div>

            <div class="input-group">
                <label style="margin-left: 30px;">Minimized</label>
                <input type="radio" name="css-type" value="compressed" ng-model="cssType">

                <label style="margin-left: 20px;">Nested</label>
                <input type="radio" name="css-type" value="nested" ng-model="cssType">
            </div>
        </div>


        <div class="imodal-buttons">
            <button class="btn btn-modal btn-modal-cancel" ng-click="modalClose()">Cancel</button>
            <button class="btn btn-modal btn-modal-download" ng-click="modalDownload()">Download</button>
        </div>
    </div>
</script>
