<div class="content">

    <div class="side-panel">
        <header>
            <img src="../assets/logo-pack/ionic-logo-white.svg" class="side-panel-logo">

            <div class="side-panel-title">Customizer</div>
        </header>

        <section>
            <div class="side-section-download">
                <button class="btn btn-download">Download Theme</button>
            </div>
            <div class="side-section">

            </div>
            <div class="side-section">
                <div class="side-section-header">
                    <h4>Globals</h4>
                    <button class="btn-revert" ng-click="revert('globals')">
                        <i class="icon icon-lg ion-ios7-refresh-empty"></i>
                    </button>
                </div>
                <ul>
                    <li>
                        Background Color
                        <spectrum-colorpicker ng-model="backgroundColor"
                                              options="{showInput: true, showAlpha: true, clickoutFiresChange: true, showInitial: true}"
                                              format="'hex'"
                                              ng-style="{'background-color': backgroundColor };">
                        </spectrum-colorpicker>
                    </li>
                    <li>
                        Text Color
                        <spectrum-colorpicker ng-model="textColor"
                                              options="{showInput: true, showAlpha: true, clickoutFiresChange: true, showInitial: true}"
                                              format="'hex'"
                                              ng-style="{'background-color': textColor };">
                        </spectrum-colorpicker>
                    </li>
                    <li>
                        Bsd
                        <spectrum-colorpicker ng-model="lightColor"
                                              options="{showInput: true, showAlpha: true, clickoutFiresChange: true, showInitial: true}"
                                              format="'hex'"
                                              ng-style="{'background-color': lightColor };">
                        </spectrum-colorpicker>
                    </li>
                    <li>
                        Links
                        <spectrum-colorpicker ng-model="lightColor"
                                              options="{showInput: true, showAlpha: true, clickoutFiresChange: true, showInitial: true}"
                                              format="'hex'"
                                              ng-style="{'background-color': linksColor };">
                        </spectrum-colorpicker>
                    </li>

                </ul>

            </div>
            <div class="side-section">
                <div class="side-section-header">
                    <h4>Colors</h4>
                    <button class="btn-revert" ng-click="revert('globals')">
                        <i class="icon icon-lg ion-ios7-refresh-empty"></i>
                    </button>
                </div>

                <ul>
                    <li>
                        $light
                        <spectrum-colorpicker ng-model="lightColor"
                                              options="{showInput: true, showAlpha: true, clickoutFiresChange: true, showInitial: true}"
                                              format="'hex'"
                                              ng-style="{'background-color': lightColor };">
                        </spectrum-colorpicker>
                    <li>
                        $stable
                        <spectrum-colorpicker ng-model="stableColor"
                                              options="{showInput: true, showAlpha: true, clickoutFiresChange: true, showInitial: true}"
                                              format="'hex'"
                                              ng-style="{'background-color': stableColor };">
                        </spectrum-colorpicker>
                    </li>
                    <li>
                        $positive
                        <spectrum-colorpicker ng-model="positiveColor"
                                              options="{showInput: true, showAlpha: true, clickoutFiresChange: true, showInitial: true}"
                                              format="'hex'"
                                              ng-style="{'background-color': positiveColor };">
                        </spectrum-colorpicker>
                    </li>
                    <li>
                        $calm
                        <spectrum-colorpicker ng-model="calmColor"
                                              options="{showInput: true, showAlpha: true, clickoutFiresChange: true, showInitial: true}"
                                              format="'hex'"
                                              ng-style="{'background-color': calmColor };">
                        </spectrum-colorpicker>
                    </li>
                    <li>
                        $balanced
                        <spectrum-colorpicker ng-model="balancedColor"
                                              options="{showInput: true, showAlpha: true, clickoutFiresChange: true, showInitial: true}"
                                              format="'hex'"
                                              ng-style="{'background-color': balancedColor };">
                        </spectrum-colorpicker>
                    </li>
                    <li>
                        $energized
                        <spectrum-colorpicker ng-model="energizedColor"
                                              options="{showInput: true, showAlpha: true, clickoutFiresChange: true, showInitial: true}"
                                              format="'hex'"
                                              ng-style="{'background-color': energizedColor };">
                        </spectrum-colorpicker>
                    </li>
                    <li>
                        $assertive
                        <spectrum-colorpicker ng-model="assertiveColor"
                                              options="{showInput: true, showAlpha: true, clickoutFiresChange: true, showInitial: true}"
                                              format="'hex'"
                                              ng-style="{'background-color': assertiveColor };">
                        </spectrum-colorpicker>
                    </li>
                    <li>
                        $royal
                        <spectrum-colorpicker ng-model="royalColor"
                                              options="{showInput: true, showAlpha: true, clickoutFiresChange: true, showInitial: true}"
                                              format="'hex'"
                                              ng-style="{'background-color': royalColor };">
                        </spectrum-colorpicker>
                    </li>
                    <li>
                        $dark
                        <spectrum-colorpicker ng-model="darkColor"
                                              options="{showInput: true, showAlpha: true, clickoutFiresChange: true, showInitial: true}"
                                              format="'hex'"
                                              ng-style="{'background-color': darkColor };">
                        </spectrum-colorpicker>
                    </li>
                </ul>
            </div>

            <div class="side-section">
                <div class="side-section-header">
                    <h4>Fonts</h4>
                    <button class="btn-revert" ng-click="revert('globals')">
                        <i class="icon icon-lg ion-ios7-refresh-empty"></i>
                    </button>
                </div>
                <ul>
                    <li>
                        Font Size - Base
                        <input type="number" class="side-section-input">
                    </li>
                    <li>
                        Font Size - Large
                        <input type="text" class="side-section-input">
                    </li>
                    <li>
                        Font Size - Small
                        <input type="text" class="side-section-input">
                    </li>

                </ul>

            </div>

            <div class="side-section-footer">
                <h4>Made with <3 Paolo Bernasconi</h4>
            </div>


        </section>


    </div>

    <div class="main-panel">
        <ul class="main-panel-tabs">
            <li>Components</li>
            <li>Examples</li>
        </ul>
        <div class="main-panel-view">

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    test
                </div>

                <div class="col-md-4 col-sm-6">
                    tes
                </div>
                <div class="col-md-4 col-sm-6">
                    test
                </div>
            </div>

        </div>
    </div>
</div>
