<div class="content">

    <div class="side-panel">
        <header>
            <img src="../assets/logo-pack/ionic-logo-white.svg" class="side-panel-logo">

            <div class="side-panel-title">Customizer</div>
        </header>

        <section>
            <div class="side-section-download">
                <button class="btn btn-download">Download Theme</button>
            </div>
            <div class="side-section">

            </div>
            <div class="side-section">
                <div class="side-section-header">
                    <h4>Globals</h4>
                    <button class="btn-revert" ng-click="revert('globals')">
                        <i class="icon icon-lg ion-ios7-refresh-empty"></i>
                    </button>
                </div>
                <ul>
                    <li ng-repeat="item in globals" ng-mouseover="show = true" ng-mouseleave="show = false">
                        {{item.name}}
                        <spectrum-colorpicker ng-model="item.value"
                                              options="{showInput: true, showAlpha: true, clickoutFiresChange: true, showInitial: true}"
                                              format="'hex'"
                                              ng-style="{'background-color': item.value };">
                        </spectrum-colorpicker>
                        <span ng-if="show == true" class="section-color-preview" ng-bind="item.value"></span>
                    </li>
                </ul>

            </div>
            <div class="side-section">
                <div class="side-section-header">
                    <h4>Colors</h4>
                    <button class="btn-revert" ng-click="revert('globals')">
                        <i class="icon icon-lg ion-ios7-refresh-empty"></i>
                    </button>
                </div>
                <ul>
                    <li ng-repeat="item in colors" ng-mouseover="show = true" ng-mouseleave="show = false">
                        {{item.name}}
                        <spectrum-colorpicker ng-model="item.value"
                                              options="{showInput: true, showAlpha: true, clickoutFiresChange: true, showInitial: true}"
                                              format="'hex'"
                                              ng-style="{'background-color': item.value };">
                        </spectrum-colorpicker>
                        <span ng-if="show == true" class="section-color-preview" ng-bind="item.value"></span>
                    </li>
                </ul>
            </div>

            <div class="side-section">
                <div class="side-section-header">
                    <h4>Fonts</h4>
                    <button class="btn-revert" ng-click="revert('globals')">
                        <i class="icon icon-lg ion-ios7-refresh-empty"></i>
                    </button>
                </div>
                <ul>
                    <li>
                        Font Size - Base
                        <input type="number" class="side-section-input">
                    </li>
                    <li>
                        Font Size - Large
                        <input type="text" class="side-section-input">
                    </li>
                    <li>
                        Font Size - Small
                        <input type="text" class="side-section-input">
                    </li>

                </ul>

            </div>

            <div class="side-section-footer">
                <h4>Made with <3 Paolo Bernasconi</h4>
            </div>


        </section>


    </div>

    <div class="main-panel">
        <ul class="main-panel-tabs">
            <li>Components</li>
            <li>Examples</li>
        </ul>
        <div class="main-panel-view">

            <div class="row">
                <div class="col-sm-6">
                    <div class="preview-card">
                        test
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="preview-card">
                        test
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
